/*body {
overflow-y: hidden;
}*/

/*img {
	filter: invert(100%);

}*/

button:hover {
 filter:opacity(50%);
}



.navbar {
  font-family: 'Poppins', sans-serif;
  z-index: 0;
  font-size: 1.2em;
  word-spacing: 2vw;
  position: fixed;
  left: 60vw;
  background:rgba(255,255,255, 0.7);
  padding-left: 2vw;
  z-index: 2000;
}

.navbar a{
  text-decoration: none;
  margin-right: 2vw;
  color: black;

}

.navbar a:hover {
  color: green;
  font-weight: 600;
}

/*home styling*/
.home-title{
  position: absolute;
  bottom: 5vh;
  left: 40vw;
  font-family: 'Poppins', sans-serif;
  width: 50vw;
  text-align: center;
  background:rgba(255,255,255, 0.5);
  padding: 5vw;
  font-size: 1.2em;
}

.handcrafted-title {
  font-size: 3.5em;
  letter-spacing: .2em;
}
/*.home-slogan {
  position: relative;
  bottom: 6vh;
  right: 11vw;
  font-family: 'Poppins', sans-serif;

}*/
#background-video{
height: 70%;
width: 100vw;
top: 10vh;
}
/*burger menu styling*/

.category-nav {

}
.category-nav a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
  margin-top: 2vh;
  margin-left: 2vw;
  filter: invert(100%);
}

.category-nav img {
  position: relative;
  top: 1vh;
}

.category-nav a:hover {
  font-weight: 600;
  text-decoration: line-through;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 3vw;
  height: 5vh;
  left: 5vh;
  top: 2vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 5px;
  width: 5px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}


/* General sidebar styles */
.bm-menu {
  background: rgba(0, 0, 0, 0.6);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden;
  height: auto;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow-y: hidden;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.title {
  position: relative;
  left: 20vw;
}

/*artwork page styling*/

.artcover-title {
  position: fixed;
  left: 25vw;
  top: 5vh;
  font-size: 3.8em;
  font-family: 'Barrio', cursive;
}

.artcover-background {
  width: 200vw;
}

.artCover img{
  display: inline;
  /*margin-right: 5vw;
  margin-top: 7vh;*/
  width: 25vw;
  height: 53vh;
}

.artCover a {
  text-decoration: none;
  color: black;
}

.artcover-scrollmenu {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    top: 25vh;
    height: 70vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-left: 10vw;
}

.artist-name {
  position: relative;
  top: 5vh;
  right: 17vw;
}

.artCover img:hover,a:hover{
  /*width: 31vw;*/
  filter: grayscale(40%);
}

/*.artCover {
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  position: relative;
  top: 10vh;

}*/

/*artworkDetail styling */

.artwork-div {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


.artwork-title {
  position: fixed;
  left: 64vw;
  top: 20vh;
  font-size: 3.8em;
  font-family: 'Barrio', cursive;
}


.artwork-name {
  display: inline-block;
  position: relative;
  top: 5vh;
  right: 4vw;
}

.artwork-info {
  position: fixed;
  left: 63vw;
  font-family: 'Poppins', sans-serif;
  top: 30vh;
  width: 30vw;
  text-align: center;

}

.artwork-profile {
  width: 28vw;

}

.artwork-images img{
  width: 35vw;
  padding-top: 20vh;
}

.artwork-images {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  position: relative;
  left: 14vw;

}

.artwork-images img:hover {
  text-decoration: none;
}

.artwork-name{
  position: relative;
  right: 35vw;
}
/*.artist-images-scrollmenu {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  bottom: 30vh;
  left: 45vw;
  height: 70vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  margin-left: 10vw;
  width: 40vw;
  overflow-x: hidden;
  border: 4px solid black;
}*/


/*artwork item page*/

.art-piece-title{
  position: absolute;
  left: 25vw;
  top: 10vh;
  width: 30vw;
  font-size: 2.5em;
  font-family: 'Barrio', cursive;

}

.art-piece-img{
  width: 35vw;
  position: relative;
  left: 15vw;
  top: 25vh;
  margin-bottom: 10vh;
}

.art-piece-description {
  position: relative;
  width: 30vw;
  left: 60vw;
  bottom: 25vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.art-piece-name {
  position: relative;
  bottom: 12vh;
  font-size: 2em;
}

.art-piece-description button {
  position: relative;
  width: 17vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  top: 18vh;
  letter-spacing: .3em;
}

/*login and signup page*/

.login-div {
  font-family: 'Poppins', sans-serif;
}

.login-title {
  position: relative;
  left: 30vw;
  top: 15vh;
  font-size: 2.5em;
  font-family: 'Barrio', cursive;
}

.login-tree-gif {
  position: relative;
  left: 50vw;
  bottom: 30vh;
  z-index: 0;
  width: 50vw;

}



/*login form styling*/

input:focus {
    border: 3px solid #555;
}

.login-form input{
  position: relative;
  top: 20vh;
  left: 20vw;
  width: 30vw;
  padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.0em;
    font-family: 'Poppins', sans-serif;
}

.login-form label{
  position: relative;
  top: 20vh;
  left: 20vw;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;

}

.login-form button {
  position: relative;
  left: 26vw;
  width: 17vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  top: 20vh;
  letter-spacing: .3em;
}

/*signup section*/
.signup-title {
  position: relative;
  left: 18vw;
  top: 10vh;
  font-size: 2.5em;
  font-family: 'Barrio', cursive;
}

.signup-tree-gif {
  position: relative;
  left: 50vw;
  bottom: 60vh;
  z-index: 0;
  width: 50vw;

}

.signup-form input{
  position: relative;
  top: 15vh;
  left: 20vw;
  width: 25vw;
  padding: 4px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;

}

.signup-form label{
  position: relative;
  top: 15vh;
  left: 20vw;
  font-size: .9em;
  font-family: 'Poppins', sans-serif;
}

.signup-form button {
  position: relative;
  left: 23vw;
  width: 17vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  top: 20vh;
  letter-spacing: .3em;
}


/*shopping cart*/

.cart-title{
  position: relative;
  left: 22vw;
  top: 8vh;
  width: 30vw;
  font-size: 3.0em;
  font-family: 'Barrio', cursive;
  z-index: 1000;
}

.cart-div{
  width:100vw;
  height:100vh;
  overflow-x: hidden;
}



.cart-display {
  position: relative;
  left: 9vw;
  top: 15vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  /*background:rgba(200,200,200, 0.4);*/

  z-index: 1000;
  padding-left: 6vw;
  padding-top: 6vh;
  width: 75vw;
  border: 1px solid black;
}

.cart-description {
  position: relative;
  left: 30vw;
  bottom: 20vh;
  text-align: center;
}


.cart-image {
  position: relative;
  top: 4vh;
  width: 20vw;
}

.cart-display button {
  position: relative;
  width: 10vw;
  left: 56vw;
  height: 8vh;
  bottom: 25vh;
  font-family: 'Poppins', sans-serif;
  font-size: .6em;
  letter-spacing: .3em;
  background: black;
  color: white;

}

.cart-checkout button  {
  position: relative;
  width: 15vw;
  height: 10vh;
  left: 30vw;
  top: 30vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  letter-spacing: .3em;
  margin-bottom: 10vh;
}

.cart-checkout   {
  position: relative;
  height: 10vh;
  left: 35vw;
  top: 30vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  letter-spacing: .3em;
  margin-bottom: 10vh;
}


/*checkout page*/

.checkout-div {
  width: 100vw;
  height: 100vh;
}

.checkout-title {
  position: relative;
  left: 25vw;
  top: 3vh;
  font-size: 3.1em;
  font-family: 'Barrio', cursive;
  color: black;

}

.checkout-image {
  width: 7vw;

}

.checkout-name{
  position: relative;
  bottom: 4vh;
  left: 4vw;

}

.checkout-price{
  position: relative;
  bottom: 4vh;
  left: 8vw;

}

.checkout-form {
  background-color: black;
  color: white;
  position: relative;
  top: 10vh;
  height: 100vh;
  width: 45vw;
  left: 6vw;

}

input:focus {
    border: 3px solid #555;
}

.checkout-form input{
  position: relative;
  top: 7vh;
  left: 12vw;
  width: 30vw;
  padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.0em;
    font-family: 'Poppins', sans-serif;

}


.checkout-form label{
  position: relative;
  top: 7vh;
  left: 12vw;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;

}

.checkout-items {
  width: 37vw;
  height: auto;
  position: relative;
  left: 55vw;
  bottom: 85vh;
  padding: 3vh;
  font-family: 'Poppins', sans-serif;
  background:rgba(255,255,255, 0.7);
  border: 1px solid black;
}

.checkout-total {
  position: relative;
  left: 83vw;
  bottom: 90vh;
  font-family: 'Poppins', sans-serif;

}

.checkout-total button{
  position: relative;
  width: 15vw;
  height: 7vh;
  top: 3vh;
  right: 3vw;
  font-family: 'Poppins', sans-serif;
  font-size: .8em;
  letter-spacing: .3em;

}

.checkout-confirm  {
  position: relative;
  width: 15vw;
  height: 10vh;
  left: 40vw;
  top: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  letter-spacing: .3em;
  margin-bottom: 10vh;
}



/*add event section */
.addevent-title {
  position: absolute;
  left: 26vw;
  top: 10vh;
  width: 30vw;
  font-size: 3.0em;
  font-family: 'Barrio', cursive;
}

.addevent-div {
    width:  100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.event-tree-gif {
  position: relative;
  left: 65vw;
  bottom: 60vh;
  z-index: 0;
  width: 40vw;
}



.event-form input{
  position: relative;
  top: 25vh;
  left: 10vw;
  width: 25vw;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 0.7em;
  font-family: 'Poppins', sans-serif;

}

.event-form label{
  position: relative;
  top: 25vh;
  left: 10vw;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
}

.event-form2 input{
  position: relative;
  bottom: 21vh;
  left: 40vw;
  width: 25vw;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 0.7em;
  font-family: 'Poppins', sans-serif;

}

.event-form2 label{
  position: relative;
  bottom: 20vh;
  left: 40vw;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
}

.event-form2 button {
  position: relative;
  left: 44vw;
  width: 15vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: .9em;
  bottom: 18vh;
  letter-spacing: .3em;
}

.addevent-submit button {
  position: relative;
  left: 14vw;
  width: 20vw;
  height: 8vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  letter-spacing: .2em;
  top: 6vh;

}

/*event section*/

.event-div {
}

.event-title{
  position: fixed;
  left: 70vw;
  top: 39vh;
  font-size: 4.0em;
  font-family: 'Barrio', cursive;
  color: white;
  background: black;
  padding: 2vw;
}

.event-box {
  text-align: center;
  border: 1px solid black;
  color: black;
  width: 50vw;
  position: relative;
  left: 10vw;
  top:5vh;
  padding-top: 1vh;
  padding-bottom: 3vh;
  margin-top: 10vh;
  font-family: 'Poppins', sans-serif;

}






.event-name {
  text-align: center;
  margin-top: 4vh;

}

.event-image {
  display: inline-block;
  position: relative;
  width: 40vw
}

.event-description {
  display: inline-block;
  width: 40vw;
  margin-top: 3vh;
  /*left: 15vw;*/
  font-family: 'Poppins', sans-serif;

}

.event-date {
  margin-top: 2vh;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 1.2em;
}


/*about section*/

.about-div{
overflow: hidden;
}


.about-title{
  position: fixed;
  left: 62vw;
  top: 39vh;
  font-size: 3.5em;
  font-family: 'Barrio', cursive;
  background:rgba(255,255,255, 0.7);
  padding: 2vw;
  text-align: center;
  color: black;
}


.about-background {
  width:100vw;
  height: 100vh;
}

.about-box {
  position: absolute;
  background:rgba(255,255,255, 0.7);
  font-family: 'Poppins', sans-serif;
  top: 27vh;
  left: 10vw;
  width: 40vw;
  height: 50vh;
  font-size: 1.0em;
}

.about-content {
  position: absolute;
  left: 5vw;
  top: 5vh;
  width: 30vw;
}

.about-div a{
  color: black;
  text-decoration: none;
  margin-left: 2vw;
}


/*confirmation page*/
.confirmation-div {
  overflow: hidden;
}
.confirmation-div img {
  width: 100vw;
  height: 100vh;
}

.confirmation-message {
  position: absolute;
  background:rgba(255,255,255, 0.7);
  font-family: 'Barrio', cursive;
  top: 33vh;
  left: 20vw;
  width: 50vw;
  height: 30vh;
  font-size: 4em;
  padding-left: 10vw;
  padding-top: 4vh;
}
